:root {
	--color-primary: rgba(144, 12, 63, 1);
	--color-secondary: rgba(218, 247, 166, 1);
	--color-white: ghostwhite;
	--color-dark: #2f2f2f;
	--padding-header: 0.5ch 2ch;
	--padding-form: 2rem;
	--padding-input: 0.5rem;
	--padding-button: 0.5rem 2rem;
	--font-size-reg: 1.6rem;
	--form-background: rgba(0,0,0,0.6);
	--color-header: rgba(144, 12, 63, 0.6);
	--color-footer: var(--color-header);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

input {
	padding: var(--padding-input);
	font-size: var(--font-size-reg);
	background: transparent;
	border: none;
	border-bottom: .2rem solid var(--color-secondary);
}

textarea:focus, input:focus{
    outline: none;
}
button {
	padding: var(--padding-button);
	font-size: var(--font-size-reg);
	background: transparent;
	color: var(--color-white);
	border: .1rem solid var(--color-secondary);
	cursor: pointer;
	transition: all .2s;
}

button:hover {
	background: var(--color-secondary);
	color: var(--color-dark);
}

form {
	color: var(--color-white);
	height: 50%;
	width: 90%;
	padding: var(--padding-form);
	display: flex;
	flex-direction: column;
	background: var(--form-background);
	border-radius: .5rem;
}

.view-width{
	margin: auto;
	width: 90%;
	min-width: 896px;
	max-width: 1400px;
}

.page{
	height: 100%;
	width: 100%;
	display: grid;
}

.page.student {
	grid-template-columns: 1fr 1fr;
}

.page-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

html {
	font-size: 67.5%;
	font-family: Gill Sans, sans-serif;
}

body {
	height: 100vh;
	width: 100%;
	font-size: var(--font-size-reg);
	position: relative;
	display: grid;
	grid-template-rows: 1fr 8fr 1fr;
	background-image: url("../student-bg.jpg");
}

header {
	background: var(--color-header);
	height: 100%;
	display: flex;
	align-items: center;
}

nav {
	color: var(--color-white);
	font-weight: 600;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main {
	display: flex;
	justify-items: center;
	align-items: center;
	height: 100%;
}

footer {
	color: var(--color-white);
	width: 100%;
	height: 100%;
	background: var(--color-footer);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}


footer > .container {
	padding: var(--padding-header);
	text-align: right;
}


.logo {
	height: 7vh;
}

.nav-ele {
	padding: var(--padding-header);
}

.form-input > input {
	color: var(--color-white);
	display: block;
	margin-bottom: var(--font-size-reg);
}

.form-buttons {
	margin-top: auto;
}


